@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --primaryColor: #fff;
  --secondaryColor: #3db2b2;
  --primaryColorAlt: #f8c601;
  --grey: #888888;
  --black: #101010;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background: var(--primaryColor);
  font-family: "Montserrat", sans-serif;
  color: var(--black);
  font-size: 18px;
}

.container {
  max-width: 730px;
  margin: auto;
}

/* --- Sections ------------------------------------ */

#buttons {
  padding: 20px 0 40px 0;
}

.btn {
  background-color: var(--primaryColorAlt);
  color: var(--primaryColor);
  padding: 15px 18px;
  font-size: 1.75rem;
  border-radius: 7px;
  border: 1px solid var(--primaryColor);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 5px 10px var(--grey);
}
.btn:hover {
  background-color: var(--secondaryColor);
}

footer {
  background-color: var(--secondaryColor);
  max-width: 730px;
  margin: auto;
  text-align: center;
  color: var(--primaryColor);
  padding: 5px;
}

/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 600px) {
  section#home a {
    top: 1rem;
    left: 1rem;
  }

  .menu-bars {
    top: 0.5rem;
    right: 1rem;
  }
}
