@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --primaryColor: #fff;
  --secondaryColor: #3db2b2;
  --primaryColorAlt: #f8c601;
  --grey: #888888;
  --black: #101010;
  --maxWidth: 730px;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background: var(--primaryColor);
  font-family: "Montserrat", sans-serif;
  color: var(--black);
  font-size: 1.2rem;
}

strong {
  font-size: 1.3rem;
}

img {
  object-fit: cover;
  width: 100%;
}

.container {
  max-width: var(--maxWidth);
  margin: auto;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  line-height: 1.5em;
  margin: 10px 0 15px;
  padding: 0;
}

li {
  list-style: none;
  position: relative;
  padding: 0 0 0 30px;
}

li.checkmark::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 5px;
  width: 4px;
  height: 12px;
  border: solid var(--secondaryColor);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.btn {
  background-color: var(--primaryColorAlt);
  color: var(--primaryColor);
  padding: 15px 18px;
  font-size: 1.75rem;
  /* border-radius: 7px; */
  border: 1px solid var(--primaryColor);
  font-weight: bold;
  cursor: pointer;
  width: 60%;
  box-shadow: 0px 5px 10px var(--grey);
}
.btn:hover {
  background-color: var(--secondaryColor);
}

#buttons {
  padding: 20px 0 40px 0;
}

#texts,
#buttons,
#logo {
  padding: 25px 15px;
}

#logo {
  padding-top: 40px;
}

.para {
  padding-top: 10px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 20px;
}

.box .text {
  flex: 50%;
}

.box .imgbox {
  flex: 50%;
  margin-bottom: 20px;
}

.age {
  display: flex;
  flex-wrap: nowrap;
}

.agebox {
  background-color: var(--secondaryColor);
  width: 89px;
  text-align: center;
  color: var(--primaryColor);
  padding: 3px;
  margin: 10px;
  font-weight: bold;
  flex: 50%;
  font-weight: bold;
}

.agebox:hover {
  background-color: var(--primaryColorAlt);
}

footer {
  background-color: var(--secondaryColor);

  margin: auto;
  text-align: center;
  color: var(--primaryColor);
  padding: 10px 5px;
}

/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 767px) {
  .box {
    padding-bottom: 0px;
  }
  .box .text {
    flex: 100%;
  }

  .box .imgbox {
    flex: 100%;
  }

  .btn {
    font-size: 1.2rem;
  }

  .age {
    flex-wrap: wrap;
  }

  .agebox {
    flex: 25%;
  }
  .btn {
    width: 90%;
  }
}
